@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;

500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #FFFFFF;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 80.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  background: #181719;
}

@supports (padding-top: clamp( 1.1875rem , 0.6453313253rem  +  2.7108433735vw , 2.875rem )) {
  .header {
    padding-top: clamp( 1.1875rem , 0.6453313253rem  +  2.7108433735vw , 2.875rem );
  }
}

@supports not (padding-top: clamp( 1.1875rem , 0.6453313253rem  +  2.7108433735vw , 2.875rem )) {
  .header {
    padding-top: calc(1.1875rem + 1.6875 * (100vw - 20rem) / 62.25);
  }
}

@supports (padding-bottom: clamp( 1.1875rem , 0.6453313253rem  +  2.7108433735vw , 2.875rem )) {
  .header {
    padding-bottom: clamp( 1.1875rem , 0.6453313253rem  +  2.7108433735vw , 2.875rem );
  }
}

@supports not (padding-bottom: clamp( 1.1875rem , 0.6453313253rem  +  2.7108433735vw , 2.875rem )) {
  .header {
    padding-bottom: calc(1.1875rem + 1.6875 * (100vw - 20rem) / 62.25);
  }
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.5rem;
          flex: 0 0 6.5rem;
  padding: 0.5rem;
  border: 1px solid #FFFFFF;
  margin-right: 0.625rem;
  z-index: 10;
}

.header__textlogo {
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.1428571429;
  line-height: 16px;
  text-transform: uppercase;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports ((-moz-column-gap: clamp( 2.5rem , 1.5763052209rem  +  4.6184738956vw , 5.375rem )) or (column-gap: clamp( 2.5rem , 1.5763052209rem  +  4.6184738956vw , 5.375rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 2.5rem , 1.5763052209rem  +  4.6184738956vw , 5.375rem );
       -moz-column-gap: clamp( 2.5rem , 1.5763052209rem  +  4.6184738956vw , 5.375rem );
            column-gap: clamp( 2.5rem , 1.5763052209rem  +  4.6184738956vw , 5.375rem );
  }
}

@supports not ((-moz-column-gap: clamp( 2.5rem , 1.5763052209rem  +  4.6184738956vw , 5.375rem )) or (column-gap: clamp( 2.5rem , 1.5763052209rem  +  4.6184738956vw , 5.375rem ))) {
  .menu__list {
    -webkit-column-gap: calc(2.5rem + 2.875 * (100vw - 20rem) / 62.25);
       -moz-column-gap: calc(2.5rem + 2.875 * (100vw - 20rem) / 62.25);
            column-gap: calc(2.5rem + 2.875 * (100vw - 20rem) / 62.25);
  }
}

.menu__link {
  font-style: normal;
  font-weight: 700;
  line-height: 1.2222222222;
  position: relative;
}

.menu__link::before {
  content: "";
  position: absolute;
  background: #FFFFFF;
  height: 0.125rem;
  width: 0;
  left: 0;
  bottom: -0.3125rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.footer {
  padding: 1.5rem 0rem;
}

.footer__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 1.2142857143;
  text-align: center;
  color: #BDBDBD;
}

@supports (padding-top: clamp( 1.25rem , -0.3564257028rem  +  8.0321285141vw , 6.25rem )) {
  .main {
    padding-top: clamp( 1.25rem , -0.3564257028rem  +  8.0321285141vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , -0.3564257028rem  +  8.0321285141vw , 6.25rem )) {
  .main {
    padding-top: calc(1.25rem + 5 * (100vw - 20rem) / 62.25);
  }
}

@supports (padding-bottom: clamp( 9.375rem , 8.3709839357rem  +  5.0200803213vw , 12.5rem )) {
  .main {
    padding-bottom: clamp( 9.375rem , 8.3709839357rem  +  5.0200803213vw , 12.5rem );
  }
}

@supports not (padding-bottom: clamp( 9.375rem , 8.3709839357rem  +  5.0200803213vw , 12.5rem )) {
  .main {
    padding-bottom: calc(9.375rem + 3.125 * (100vw - 20rem) / 62.25);
  }
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.5625rem;
}

@supports ((-moz-column-gap: clamp( 1.25rem , -0.0953815261rem  +  6.7269076305vw , 5.4375rem )) or (column-gap: clamp( 1.25rem , -0.0953815261rem  +  6.7269076305vw , 5.4375rem ))) {
  .main__container {
    -webkit-column-gap: clamp( 1.25rem , -0.0953815261rem  +  6.7269076305vw , 5.4375rem );
       -moz-column-gap: clamp( 1.25rem , -0.0953815261rem  +  6.7269076305vw , 5.4375rem );
            column-gap: clamp( 1.25rem , -0.0953815261rem  +  6.7269076305vw , 5.4375rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -0.0953815261rem  +  6.7269076305vw , 5.4375rem )) or (column-gap: clamp( 1.25rem , -0.0953815261rem  +  6.7269076305vw , 5.4375rem ))) {
  .main__container {
    -webkit-column-gap: calc(1.25rem + 4.1875 * (100vw - 20rem) / 62.25);
       -moz-column-gap: calc(1.25rem + 4.1875 * (100vw - 20rem) / 62.25);
            column-gap: calc(1.25rem + 4.1875 * (100vw - 20rem) / 62.25);
  }
}

.content-main__header {
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  line-height: 1.2708333333;
}

@supports (font-size: clamp( 2.25rem , 1.985915493rem  +  1.1267605634vw , 3rem )) {
  .content-main__header {
    font-size: clamp( 2.25rem , 1.985915493rem  +  1.1267605634vw , 3rem );
  }
}

@supports not (font-size: clamp( 2.25rem , 1.985915493rem  +  1.1267605634vw , 3rem )) {
  .content-main__header {
    font-size: calc(2.25rem + 0.75 * (100vw - 23.4375rem) / 66.5625);
  }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.2323943662rem  +  1.4084507042vw , 2.5rem )) {
  .content-main__header:not(:last-child) {
    margin-bottom: clamp( 1.5625rem , 1.2323943662rem  +  1.4084507042vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.2323943662rem  +  1.4084507042vw , 2.5rem )) {
  .content-main__header:not(:last-child) {
    margin-bottom: calc(1.5625rem + 0.9375 * (100vw - 23.4375rem) / 66.5625);
  }
}

.content-main__text {
  font-style: normal;
  font-weight: 400;
  line-height: 1.2083333333;
}

@supports (font-size: clamp( 0.875rem , 0.6549295775rem  +  0.9389671362vw , 1.5rem )) {
  .content-main__text {
    font-size: clamp( 0.875rem , 0.6549295775rem  +  0.9389671362vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.6549295775rem  +  0.9389671362vw , 1.5rem )) {
  .content-main__text {
    font-size: calc(0.875rem + 0.625 * (100vw - 23.4375rem) / 66.5625);
  }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.0563380282rem  +  2.1596244131vw , 3rem )) {
  .content-main__text:not(:last-child) {
    margin-bottom: clamp( 1.5625rem , 1.0563380282rem  +  2.1596244131vw , 3rem );
  }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.0563380282rem  +  2.1596244131vw , 3rem )) {
  .content-main__text:not(:last-child) {
    margin-bottom: calc(1.5625rem + 1.4375 * (100vw - 23.4375rem) / 66.5625);
  }
}

.content-main__readmore {
  font-style: normal;
  font-weight: 700;
  line-height: 1.2222222222;
  position: relative;
}

@supports (font-size: clamp( 0.875rem , 0.786971831rem  +  0.3755868545vw , 1.125rem )) {
  .content-main__readmore {
    font-size: clamp( 0.875rem , 0.786971831rem  +  0.3755868545vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.786971831rem  +  0.3755868545vw , 1.125rem )) {
  .content-main__readmore {
    font-size: calc(0.875rem + 0.25 * (100vw - 23.4375rem) / 66.5625);
  }
}

.no-webp .content-main__readmore::after{
  background: url("../img/white-arrow-icon-png-26.jpg") 0 0/contain no-repeat; }

.content-main__readmore::after {
  content: "";
  position: absolute;
  top: 0;
  right: -3.75rem;
  max-width: 3.125rem;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

.content-main__readmore::before {
  content: "";
  position: absolute;
  background: #FFFFFF;
  height: 0.125rem;
  width: 0;
  left: 0;
  bottom: -0.3125rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.pictire-main {
  position: relative;
}

.pictire-main__bgimg img {
  max-width: 100%;
}

.card-main {
  position: absolute;
  right: 4rem;
  bottom: -6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 51.25%;
  background: #181719;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1.4375rem 0.3125rem 0rem 0rem;
}

@supports (padding-left: clamp( 0.3125rem , -0.109186747rem  +  2.1084337349vw , 1.625rem )) {
  .card-main {
    padding-left: clamp( 0.3125rem , -0.109186747rem  +  2.1084337349vw , 1.625rem );
  }
}

@supports not (padding-left: clamp( 0.3125rem , -0.109186747rem  +  2.1084337349vw , 1.625rem )) {
  .card-main {
    padding-left: calc(0.3125rem + 1.3125 * (100vw - 20rem) / 62.25);
  }
}

@supports (padding-bottom: clamp( 0.3125rem , -0.2698293173rem  +  2.9116465863vw , 2.125rem )) {
  .card-main {
    padding-bottom: clamp( 0.3125rem , -0.2698293173rem  +  2.9116465863vw , 2.125rem );
  }
}

@supports not (padding-bottom: clamp( 0.3125rem , -0.2698293173rem  +  2.9116465863vw , 2.125rem )) {
  .card-main {
    padding-bottom: calc(0.3125rem + 1.8125 * (100vw - 20rem) / 62.25);
  }
}

.card-main__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

.card-main__top:not(:last-child) {
  margin-bottom: 0.5rem;
}

.card-main__img img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}

.card-main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-main__name {
  font-style: normal;
  font-weight: 500;
  line-height: 1.2142857143;
}

@supports (font-size: clamp( 0.75rem , 0.7059859155rem  +  0.1877934272vw , 0.875rem )) {
  .card-main__name {
    font-size: clamp( 0.75rem , 0.7059859155rem  +  0.1877934272vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.7059859155rem  +  0.1877934272vw , 0.875rem )) {
  .card-main__name {
    font-size: calc(0.75rem + 0.125 * (100vw - 23.4375rem) / 66.5625);
  }
}

.card-main__name:not(:last-child) {
  margin-bottom: 0.5rem;
}

.card-main__position {
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  line-height: 15px;
  color: #828282;
}

@supports (font-size: clamp( 0.625rem , 0.5809859155rem  +  0.1877934272vw , 0.75rem )) {
  .card-main__position {
    font-size: clamp( 0.625rem , 0.5809859155rem  +  0.1877934272vw , 0.75rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.5809859155rem  +  0.1877934272vw , 0.75rem )) {
  .card-main__position {
    font-size: calc(0.625rem + 0.125 * (100vw - 23.4375rem) / 66.5625);
  }
}

.card-main__workdone {
  max-width: 17.9375rem;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  line-height: 1.2916666667;
}

@supports (font-size: clamp( 1.125rem , 0.704712813rem  +  0.88365243vw , 1.5rem )) {
  .card-main__workdone {
    font-size: clamp( 1.125rem , 0.704712813rem  +  0.88365243vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.704712813rem  +  0.88365243vw , 1.5rem )) {
  .card-main__workdone {
    font-size: calc(1.125rem + 0.375 * (100vw - 47.5625rem) / 42.4375);
  }
}

@media (min-width: 47.99875em) {
  .main__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25.625rem;
            flex: 0 1 25.625rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .main__pictire {
    width: 63.8413685848%;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 7.5rem 0.9375rem 1.875rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background: #000;
    z-index: 4;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    background: #000;
    -webkit-box-shadow: 0px 4px 10px rgb(61, 61, 61);
            box-shadow: 0px 4px 10px rgb(61, 61, 61);
    z-index: 2;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

@supports (height: clamp( 4.375rem , 3.7725903614rem  +  3.0120481928vw , 6.25rem )) {
    .menu__body::before {
      height: clamp( 4.375rem , 3.7725903614rem  +  3.0120481928vw , 6.25rem );
    }
}

@supports not (height: clamp( 4.375rem , 3.7725903614rem  +  3.0120481928vw , 6.25rem )) {
    .menu__body::before {
      height: calc(4.375rem + 1.875 * (100vw - 20rem) / 62.25);
    }
}

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2rem;
  }

  .menu__link {
    font-size: 1.5625rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card-main {
    width: 53.4550195567%;
  }
}

@media (any-hover: hover) {
  .menu__link:hover::before {
    width: 100%;
  }

  .content-main__readmore:hover::before {
    width: 100%;
  }

  .card-main:hover {
    -webkit-box-shadow: 0px 4px 40px rgba(247, 245, 245, 0.25);
            box-shadow: 0px 4px 40px rgba(247, 245, 245, 0.25);
  }
}

.webp .content-main__readmore::after{ background: url(../img/white-arrow-icon-png-26.webp) 0 0/contain no-repeat; }